* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
.tableWrapper, .info {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.filters input {
    padding: 5px 15px;
    font-size: 16px;
    transition: .25s;
}
.filters input:focus {
    color: #ffffff;
    background: #8f91ff;
}
select {
    padding: 5px;
    font-size: 16px;
    transition: .25s;
}
select:focus {
    color: #fff;
    background: #8f91ff;
}
select::-webkit-scrollbar{
    width: 5px;
    background: #ffffff;
}
select::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgba(0, 0, 0, 0.2);
}
option {
    color: #000000;
    background: white;
}
th {
    padding: 5px 5px;
    cursor: pointer;
    transition: .25s;
}
th:hover{
    background: #82faff;
}
td {
    padding: 3px 0;
}
.row {
    cursor: pointer;
    transition: .2s;
}
.row:hover {
    color: white;
    background: #9c9eff;
}
.pagination {
    align-self: flex-end;
    margin-top: 8px;
}
.pagination button {
    margin-left: 3px;
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: .2s;
    font-weight: bold;
}
.pagination button:hover {
    background: #82faff;
    box-shadow: 0 2px 4px black;
}
.pagination button:active {
    box-shadow: 0 0 3px black;
}
.pagination button:first-child:active {
    box-shadow: 0 2px 4px black;
    transform: translateX(-10%);
}
.pagination button:last-child:active {
    box-shadow: 0 2px 4px black;
    transform: translateX(+10%);
}
.info {
    margin-bottom: 40px;
    border: 1px solid black;
}
.info p:first-child {
    font-weight: bold;
}
.info p:not(:last-child) {
    margin-bottom: 10px;

}
